:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav-container {
  flex: 1;
  margin-top: 64px; // height of toolbar

  mat-sidenav {
    width: 250px;
    padding-top: 20px;
  }

  .mat-icon {
    margin-right: 12px;
  }

  .active {
    background: rgba(0, 0, 0, 0.04);
  }
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}